<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>试题列表页</title>
    <link href="/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/style/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="/lib/layer/v3.1.1/layer.js"></script>
    <script src="/lib/underscore/1.8.3/underscore-min.js"></script>

    <script>
        function goregister(url) {
            layer.open({
                type: 2,
                title: ' ',
                shadeClose: false,
                shade: 0.3,
                area: ['360px', '530px'], //w h
                content: url //iframe的url
            })
        }
    </script>
</head>

<body>
    <div class="header">
        <div class="header-bar">
            <div class="header-left"><a href="http://help.tiku.cn/497743" target="_blank" class="c-orange">更新日志</a> 认真的服务好每一个用户</div>
            <div class="header-right">
                您好 : <i class="fa fa-vimeo c-999" title="尚未开通vip"></i> <a style="color:#EE7621; " href="/index/person/index">qq_Lostsmile</a>
                <a href="/index/person/myassembly" target="_blank">我的组卷</a>
                <a href="/index/person/recharge" target="_blank">充值(永久VIP特惠)</a>
                <a style="color:#349724;" onclick="exit()">退出</a>
            </div>
        </div>
    </div>
    <div class="mask" style="display: none;"></div>
    <!--logo和搜索框开始-->
    <!--logo-search-weichat-->
    <div class="search">
        <div class="logo"><img src="/static/style/img/logo.png" onclick="window.location.href='/'" /></div>
        <div class="searchbox">
            <input class="input-text input-search" type="text" placeholder="请输入关键字" /><button class="btn btn-success  btn-search" onclick="search()">搜章节</button>
        </div>
        <div class="code"><img src="/static/style/img/code.png" /></div>
    </div>
    <!--logo和搜索框结束-->
    <!--试题篮开始-->
    <!--试题篮-->
    <!--试题篮第一步开始-->
    <div class="test-basket" style="display: none;">
        <div class="basket-header">
            预览试卷<span class="layui-layer-setwin"><a onclick="cancelClick()" class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span>
        </div>
        <div class="basket-body">
            <div class="test-info">
            </div>
            <div class="test-content-box">
            </div>
        </div>
        <div class="basket-footer">
            <button id="nextstep" type="button" class="btn btn-secondary radius">下一步</button>
            <button onclick="cancelClick()" click="" type="button" class="btn btn-default  radius">取消</button>
            <button id="empty" type="button" class="btn btn-default radius">清空试题篮</button>
        </div>
    </div>
    <!--试题篮第一步结束-->

    <!--试题篮第二步开始-->
    <div class="tb-save" style="display: none;">
        <div class="basket-header">编辑试卷属性<span class="layui-layer-setwin"><a onclick="$('#basket-canel').trigger('click');" class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span>
        </div>
        <div class="tb-save-content">
            <form method="" id="form">
                <p>
                    <label for="title">标题 <span>*</span> ：</label>
                    <input id="title" name="title" type="text" class="input-text" placeholder="请修改试卷名称，例如：“2017年中考压轴题精选”" />
                </p>
                <p>
                    <label for="describe">描述  <span>*</span> ：</label>
                    <input name="description" id="describe" class="input-text" />
                </p>
                <p>
                    <label>隐私设置 <span>*</span> ：</label>
                    <input id="yinsi_1" type="radio" value="1" name="is_open" checked="checked">
                    <label for="yinsi_1" id="yinsi1">公开</label>
                    <input id="yinsi_0" type="radio" value="0" name="is_open">
                    <label for="yinsi_0" id="yinsi2">不公开</label>
                </p>

                <p>
                    <label>试卷类型 <span>*</span> ：</label>
                    <input type="radio" id="radio-1" value="0" name="pagetype" checked="checked">
                    <label id="synchro" for="radio-1" class="radio-lab">随堂试卷</label>
                    <input type="radio" id="radio-2" value="1" name="pagetype">
                    <label id="sectional" for="radio-2" class="radio-lab">段考试卷</label>
                    <input type="radio" id="radio-3" value="2" name="pagetype">
                    <label id="midhig" for="radio-3" class="radio-lab" style="width:100px;">中高考/小升初</label>
                </p>

                <!--同步试卷-->

                <p>
                    <label>学科 <span>*</span> ：</label>
                    <select class="select select-ui" size="" name="courseId" onchange=getcourseName(this.value)>
                    <option value="14" selected>
                        小学数学                    </option>

                </select>
                </p>
                <div id="sel_1" style="display: none;">
                    <p>
                        <label>教材版本 <span>*</span> ：</label>
                        <select class="select select-ui" id="versionName" name="versionName" onchange=getversionName(this.value)>
                        <option value="" selected></option>
                    </select>
                    </p>
                    <p>
                        <label>课本<span>*</span> ：</label>
                        <select class="select select-ui" id="bookName" name="bookName" onchange=getbookName(this.value)>
                        <option value="" selected></option>
                    </select>
                    </p>
                </div>
                <div id="sel_2" style="display: none;">
                    <p>
                        <label>章 <span>*</span> ：</label>
                        <select class="select select-ui" id="unitName" name="unitName" onchange=getunitName(this.value)>
                        <option value="" selected></option>
                    </select>
                    </p>

                    <p>
                        <label>节 <span> </span> ：</label>
                        <select class="select select-ui" id="chapterName" name="chapterName">
                        <option value="" selected></option>
                    </select>
                    </p>
                </div>
                <div id="sel_3" style="display: none;">
                    <p>
                        <label>中高考年份 <span>*</span> ：</label>
                        <select class="select select-ui" id="year" name="year">
                        <option value="" selected></option>
                    </select>
                    </p>
                </div>
                <div id="sel_4" style="display: none;">
                    <p>
                        <label>段考类型 <span>*</span> ：</label>
                        <input type="radio" value="0" id="dk_yk" name="dk_type">
                        <label for="dk_yk" id="dk_label1">月考</label>
                        <input type="radio" value="1" id="dk_qz" name="dk_type">
                        <label for="dk_qz" id="dk_label2">期中</label>
                        <input type="radio" value="2" id="dk_qm" name="dk_type">
                        <label for="dk_qm" id="dk_label3">期末</label>
                    </p>
                </div>
                <div class="btn-position">
                    <input type="button" onclick="save()" class="btn btn-secondary radius" value="保存试卷" />
                    <input type="button" id="basket-canel" name="" class="btn btn-default radius" value="取消" />
                    <input type="hidden" name="id" value="" />
                </div>

            </form>
        </div>
    </div>
    <!--试题篮第二步结束-->

    <!--试题篮 试题列表 模板-->
    <script type="text/template" id="tpl_box">
        <% _.each(obj,function(v,k,list){ %>
            <div class="tq-type">
                <label><%- k %>(共<span><%- v.length %></span>小题)</label>
            </div>
            <% _.each(v,function(vv,kk,list){ %>
                <div class="tq-type-a">
                    <div class="tq-box">
                        <div class="ts-title">
                            <%= vv.bodyhtml.replace(/\/tikuimg/g, "http://img.tiku.cn/tikuimg" ) %>
                                <br/>
                                <%= vv.optionHtmlList.replace(/\/tikuimg/g, "http://img.tiku.cn/tikuimg" ).replace(/\|NTK\|/g, "<br/>") %>
                        </div>
                        <div class="tq-view">
                            <span onclick="box_anaylis($(this),<%= vv.id %>)"><i class="fa fa-list"></i><span>查看解析</span></span>
                            <span onclick="detqe($(this),<%= vv.id %>,<%= vv.questionTypeId %>)"><img src="/static/style/img/close.png"> 移出</span>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <% }) %>
    </script>
    <!--难易度统计-->
    <script type="text/template" id="tpl_dif">
        <p>
            <label>难度分布：</label>
            <span id="easy" style="color: #00aa00">易（<%- obj[0]['count'] %>）</span>
            <span id="normal" style="color: #FFA221;">中（<%- obj[1]['count'] %>）</span>
            <span id="dif" style="color: #aa314f">难（<%- obj[2]['count'] %>）</span>
        </p>
    </script>
    <script>
        //组卷弹窗
        function build_page() {
            var str = '加载中...';
            $('.mask').show();
            $('.test-basket').show();
            $('.test-content-box').html(str);
            var id = '';
            var cid = $('.course').data('cid');
            for (var i = 0; i < localStorage.length; i++) {
                var name = localStorage.key(i);
                if (name.substring(0, 4) === "card") {
                    var cardid = localStorage.getItem(localStorage.key(i));
                    if (cardid != null) {
                        id += cardid + ',';
                    }
                }
            }
            $.post("/index/index/build_page", {
                id: id,
                cid: cid
            }, function(data) {
                //难易度统计
                var compileddif = _.template($("#tpl_dif").html());
                var difhtml = compileddif(data.msg);
                $(".test-info").html(difhtml);
                //试题列表
                var compiled = _.template($("#tpl_box").html());
                var html = compiled(data.data);
                $('.test-content-box').html(html);
            }, 'json');
        }
    </script>
    <!--试题篮结束-->
    <!--纠错开始-->
    <!--纠错-->
    <div class="errorbox" style="position: fixed;width: 660px;height: 255px;top: 0;right: 0;bottom: 0;left: 0;margin: auto;z-index: 11;background-color: #fff;display: none;">
        <div class="" style="width: 100%;height: 45px;color: #333;background-color: #F8F8F8;padding: 0 20px;line-height: 45px;box-sizing: border-box;border-bottom:1px solid #eee;">
            <span>纠错</span>
            <i class="fa fa-close" style="float: right;display: inline-block;cursor: pointer;line-height: 45px;color: #333;"></i>
        </div>
        <div class="" style="padding: 15px 30px 0;height: 195px;">
            <div class="" style="height: 30px;line-height: 30px;margin: 10px 0 20px;">
                <label style="font-size: 16px;width: 100px;display: inline-block;float: left;">错误类型 <font style="color: red;">*</font> ：</label>
                <ul class="errortype" style="float: left;padding: 0 10px;">
                    <li style="width: 90px;display: inline-block;flex: left;border: 1px solid #eee;text-align: center;cursor: pointer;">
                        <input type="checkbox" name="errortype" value="0" />题干错了
                    </li>
                    <li style="width: 90px;display: inline-block;flex: left;border: 1px solid #eee;text-align: center;cursor: pointer;">
                        <input type="checkbox" name="errortype" value="1" />答案错了
                    </li>
                    <li style="width: 90px;display: inline-block;flex: left;border: 1px solid #eee;text-align: center;cursor: pointer;">
                        <input type="checkbox" name="errortype" value="2" />排版错了
                    </li>
                    <li style="width: 90px;display: inline-block;flex: left;border: 1px solid #eee;text-align: center;cursor: pointer;">
                        <input type="checkbox" name="errortype" value="3" />解析错了
                    </li>
                    <li style="width: 90px;display: inline-block;flex: left;border: 1px solid #eee;text-align: center;cursor: pointer;">
                        <input type="checkbox" name="errortype" value="4" />删了吧
                    </li>
                </ul>
            </div>
            <div class="" style="height: 70px;line-height: 30px;margin: 10px 0 20px;">
                <label style="font-size: 16px;width: 100px;display: inline-block;float: left;">错误描述 <font style="color: red;">*</font> ：</label>
                <textarea id="errortxt" name="" style="padding: 0 10px;width: 450px;height: 70px;margin: 0 10px;border: 1px solid #e6e6e6;color: #777;resize: none;outline: 0;"></textarea>
            </div>
            <div class="" style="height: 34px;text-align: center;">
                <input type="hidden" id="qeid" value="" />
                <input type="hidden" id="couid" value="" />
                <button id="" class="btn btn-secondary radius" onclick="suberror()" style="width: 90px;height: 34px;">提交</button>
                <button class="cancelError" class="btn btn-default  radius" type="button" style="width: 90px;height: 34px;margin-left: 15px;">取消</button>
            </div>
        </div>
    </div>
    <script>
        //纠错
        function suberror() {
            var id = $('#qeid').val();
            var courseid = $('#couid').val();
            var errorarr = "";
            $("input:checkbox[name='errortype']:checked").each(function() {
                errorarr += $(this).val() + ",";
            });
            var errortxt = $('#errortxt').val();
            $.post("/index/index/insterror", {
                qeid: id,
                courseid: courseid,
                errorarr: errorarr,
                errortxt: errortxt
            }, function(data) {
                if (data == true) {
                    alert('成功!');
                    $('.fa.fa-close').trigger('click');
                } else {
                    alert('失败!');
                }
            }, 'json');
        }
    </script>
    <!--纠错结束-->
    <!--学科-试题篮-导航-->
    <div class="nav-bar">
        <div class="nav-bar-box">
            <div class="nav-bar-left">
                <span> 当前：</span>
                <div data-cid="14" class="course">
                    小学数学 <i class="fa fa-angle-double-down"></i>
                </div>

            </div>
            <div class="nav-bar-right">
                <span class="nav-basket"><i class="fa fa-shopping-basket"></i><span>试题篮（0）</span><i class="fa fa-angle-double-down"></i></span>
            </div>
        </div>

        <div class="subject-hide">
            <div class="left-hide">
                <div class="sub-sch">
                    <p class="sub-pt">小学</p>
                    <p class="sub-ps">
                        <a href="/index/index/questions?cid=14&cno=1">数学</a>
                        <a href="/index/index/questions?cid=21&cno=1">语文</a>
                        <a href="/index/index/questions?cid=23&cno=1">英语</a>
                    </p>
                </div>
                <div class="sub-sch">
                    <p class="sub-pt">初中</p>
                    <p class="sub-ps">
                        <a href="/index/index/questions?cid=10&cno=1">数学</a>
                        <a href="/index/index/questions?cid=20&cno=1">语文</a>
                        <a href="/index/index/questions?cid=24&cno=1">英语</a>
                        <a href="/index/index/questions?cid=12&cno=1">物理</a>
                        <a href="/index/index/questions?cid=15&cno=1">化学</a>
                        <a href="/index/index/questions?cid=7&cno=1">生物</a>
                        <a href="/index/index/questions?cid=5&cno=1">地理</a>
                        <a href="/index/index/questions?cid=18&cno=1">历史</a>
                        <a href="/index/index/questions?cid=6&cno=1">思品</a>
                    </p>
                </div>

                <div class="sub-sch">
                    <p class="sub-pt">高中</p>
                    <p class="sub-ps">
                        <a href="/index/index/questions?cid=4&cno=1">数学</a>
                        <a href="/index/index/questions?cid=19&cno=1">语文</a>
                        <a href="/index/index/questions?cid=22&cno=1">英语</a>
                        <a href="/index/index/questions?cid=11&cno=1">物理</a>
                        <a href="/index/index/questions?cid=16&cno=1">化学</a>
                        <a href="/index/index/questions?cid=13&cno=1">生物</a>
                        <a href="/index/index/questions?cid=9&cno=1">地理</a>
                        <a href="/index/index/questions?cid=17&cno=1">历史</a>
                        <a href="/index/index/questions?cid=8&cno=1">政治</a>
                    </p>
                </div>
            </div>

            <div class="right-hide">
                <div class="right-total">共计：（<span>0</span>）道题</div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600122">
                        单选题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600122)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600123">
                        多选题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600123)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600125">
                        填空题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600125)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600124">
                        判断题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600124)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600167">
                        操作题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600167)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600168">
                        计算题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600168)" />
                    </div>
                </div>
                <div class="question-num">
                    <div class="ques-title" id="qtybox600126">
                        解答题：<span>0</span>道
                    </div>
                    <div class="icon-del">
                        <img src="/static/style/img/delete.png" onclick="delCard($(this),600126)" />
                    </div>
                </div>

                <div class="btn-paper" onclick="build_page()">生成试卷</div>
            </div>

        </div>

    </div>
    <!--学科-试题篮-导航结束-->
    <!--试题检索导航开始-->
    <div class="nav-selsect">
        <div class="nav-select-list">
            <div class="nav-list-type"><b>试题检索：</b></div>
            <div class="tp-sub-list">
                <div class="tp-select type-a curr" onclick="tourl(1,'cno')">按章节</div>
                <div class="tp-select type-a " onclick="tourl(2,'kno')">按知识点</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nav-select-list" id="version">
            <div class="nav-list-type"><b>教材版本：</b></div>
            <div class="tp-sub-list">
                <div class="tp-select type-b curr" id="version800016" onclick="tourl(800016,'vid')">人教版</div>
                <div class="tp-select type-b " id="version800023" onclick="tourl(800023,'vid')">北师大版</div>
                <div class="tp-select type-b " id="version800136" onclick="tourl(800136,'vid')">冀教版</div>
                <div class="tp-select type-b " id="version800139" onclick="tourl(800139,'vid')">苏教版</div>
                <div class="tp-select type-b " id="version800140" onclick="tourl(800140,'vid')">西师版</div>
                <div class="tp-select type-b " id="version800137" onclick="tourl(800137,'vid')">青岛六三版</div>
                <div class="tp-select type-b " id="version800138" onclick="tourl(800138,'vid')">青岛五四版</div>
            </div>
            <!--试题检索导航结束-->
        </div>
        <div class="clearfix"></div>
        <div class="nav-select-list" id="book">
            <div class="nav-list-type"><b>课本：</b></div>
            <div class="tp-sub-list">
                <div class="tp-select type-c curr" id="book800104" onclick="tourl(800104,'bid')">三年级上册</div>
                <div class="tp-select type-c " id="book800110" onclick="tourl(800110,'bid')">三年级下册</div>
                <div class="tp-select type-c " id="book800113" onclick="tourl(800113,'bid')">四年级上册</div>
                <div class="tp-select type-c " id="book800115" onclick="tourl(800115,'bid')">四年级下册</div>
                <div class="tp-select type-c " id="book800117" onclick="tourl(800117,'bid')">五年级上册</div>
                <div class="tp-select type-c " id="book800119" onclick="tourl(800119,'bid')">五年级下册</div>
                <div class="tp-select type-c " id="book800121" onclick="tourl(800121,'bid')">六年级上册</div>
                <div class="tp-select type-c " id="book800123" onclick="tourl(800123,'bid')">六年级下册</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nav-select-list">
            <div class="nav-list-type"><b>题型：</b></div>
            <div class="tp-sub-list">
                <div class="tp-select type-d curr" onclick="tourl('','typeid')">全部</div>
                <div class="tp-select type-d " id="qty600122" onclick="tourl(600122,'typeid')">单选题</div>
                <div class="tp-select type-d " id="qty600123" onclick="tourl(600123,'typeid')">多选题</div>
                <div class="tp-select type-d " id="qty600125" onclick="tourl(600125,'typeid')">填空题</div>
                <div class="tp-select type-d " id="qty600124" onclick="tourl(600124,'typeid')">判断题</div>
                <div class="tp-select type-d " id="qty600167" onclick="tourl(600167,'typeid')">操作题</div>
                <div class="tp-select type-d " id="qty600168" onclick="tourl(600168,'typeid')">计算题</div>
                <div class="tp-select type-d " id="qty600126" onclick="tourl(600126,'typeid')">解答题</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="nav-select-list">
            <div class="nav-list-type"><b>难易度：</b></div>
            <div class="tp-sub-list">
                <div class="tp-select type-e curr" onclick="tourl(4,'diffid')">全部</div>
                <div class="tp-select type-e " onclick="tourl(0,'diffid')">易</div>
                <div class="tp-select type-e " onclick="tourl(1,'diffid')">中</div>
                <div class="tp-select type-e " onclick="tourl(2,'diffid')">难</div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <!--试题-->
    <div class="question-box">
        <!--按章节-->
        <div class="question-type">
            <div class="clearfix"></div>
            <div class="clk"></div>
            <ul class="ul-ques">
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800417,'unitid')">1  时、分、秒</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701354">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701354,'chapterid')" >
									时、分、秒									</span>
								</a>

							</dt>
                        <dd id='thrknow702172'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702172,'thrknowid')"> 时、分、秒及其关系、单位换算与计算</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800418,'unitid')">2　万以内的加法和减法（一）</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701360">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701360,'chapterid')" >
									万以内的加法和减法（一）									</span>
								</a>

							</dt>
                        <dd id='thrknow700133'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700133,'thrknowid')"> 进位加法</a>
                        </dd>
                        <dd id='thrknow700137'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700137,'thrknowid')"> 加法和减法的关系</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800421,'unitid')">3　测量</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701372">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701372,'chapterid')" >
									测量									</span>
								</a>

							</dt>
                        <dd id='thrknow702183'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702183,'thrknowid')"> 质量及质量的常用单位</a>
                        </dd>
                        <dd id='thrknow702190'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702190,'thrknowid')"> 质量的单位换算</a>
                        </dd>
                        <dd id='thrknow702192'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702192,'thrknowid')"> 长度及长度的常用单位</a>
                        </dd>
                        <dd id='thrknow702194'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702194,'thrknowid')"> 长度的单位换算</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800426,'unitid')">4　万以内的加法和减法（二）</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701397">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701397,'chapterid')" >
									万以内的加法和减法（二）									</span>
								</a>

							</dt>
                        <dd id='thrknow700131'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700131,'thrknowid')"> 整数的加法和减法</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800428,'unitid')">5　倍的认识</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701402">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701402,'chapterid')" >
									 倍的认识									</span>
								</a>

							</dt>
                        <dd id='thrknow700139'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700139,'thrknowid')"> 整数的乘法及应用</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800430,'unitid')">6　多位数乘一位数</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701407">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701407,'chapterid')" >
									多位数乘一位数									</span>
								</a>

							</dt>
                        <dd id='thrknow700139'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700139,'thrknowid')"> 整数的乘法及应用</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800433,'unitid')">7　长方形和正方形</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701414">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701414,'chapterid')" >
									长方形和正方形									</span>
								</a>

							</dt>
                        <dd id='thrknow702565'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702565,'thrknowid')"> 长方形的特征及性质</a>
                        </dd>
                        <dd id='thrknow702567'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702567,'thrknowid')"> 正方形的特征及性质</a>
                        </dd>
                        <dd id='thrknow702724'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702724,'thrknowid')"> 长方形的周长</a>
                        </dd>
                        <dd id='thrknow702726'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702726,'thrknowid')"> 正方形的周长</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800435,'unitid')">8　分数的初步认识</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701427">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701427,'chapterid')" >
									分数的初步认识									</span>
								</a>

							</dt>
                        <dd id='thrknow700094'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700094,'thrknowid')"> 分数的意义、读写及分类</a>
                        </dd>
                        <dd id='thrknow700098'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(700098,'thrknowid')"> 分数大小的比较</a>
                        </dd>
                    </dl>
                </li>
                <li class="ul-ques-li">
                    <!-- 章链接 -->
                    <a class="li-open" title="" id="li-open">
                        <i class="icon ">
								<img class="open-li" src="/static/style/img/open.png" />
							</i>
                        <b onclick="tourl(800440,'unitid')">9　数学广角──集合</b>
                    </a>
                    <div class="clearfix"></div>
                    <dl class="ul-dl" style="display: none;" id="twoknow701439">
                        <dt><!-- 节链接 -->
								<a class="dl-open" id="dl-open" title="">
									<i class="dl-icon">
									<img class="open-dl" src="/static/style/img/open.png" />
									</i>
									<span onclick="tourl(701439,'chapterid')" >
									数学广角──集合									</span>
								</a>

							</dt>
                        <dd id='thrknow702063'>
                            <a class="dd-curr" id="dd-curr" title="" onclick="tourl(702063,'thrknowid')"> 图文应用题</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>


        <!--试卷列表-->
        <div class="question-content">
            <div class="ques">
                <div class="q-title">

                    哥哥有43张生字卡片，比姐姐少18张，姐姐有生字卡片<br>
                    <div align="right">[ ]</div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="q-answer">
                    <div class="answer">A、51张</div>
                    <div class="answer">B、61张</div>
                    <div class="answer">C、71张</div>
                </div>
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025439" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.31</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025439,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025439,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025439)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025439)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025439" onclick="addCard($(this),3025439,600122)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    37+94=<br>
                    <div align="right">[ ]</div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="q-answer">
                    <div class="answer">A、121</div>
                    <div class="answer">B、131</div>
                    <div class="answer">C、141</div>
                </div>
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025440" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.23</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025440,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025440,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025440)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025440)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025440" onclick="addCard($(this),3025440,600122)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    小明为玉树灾区的小朋友捐了55本故事书，46本连环画，一共是多少本书？ </div>
                <!--<div class="clearfix"></div>-->
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025441" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.72</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025441,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025441,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025441)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025441)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025441" onclick="addCard($(this),3025441,600126)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    在第十一届全运会上，获得奖牌榜第二名的解放军代表队获得金牌49枚，银牌39枚，金银牌共获得多少枚？ </div>
                <!--<div class="clearfix"></div>-->
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025442" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.08</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025442,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025442,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025442)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025442)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025442" onclick="addCard($(this),3025442,600126)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    比最大的两位数多45的数是<br>
                    <div align="right">[ ]</div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="q-answer">
                    <div class="answer">A、56</div>
                    <div class="answer">B、55</div>
                    <div class="answer">C、144</div>
                </div>
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025443" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.43</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025443,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025443,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025443)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025443)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025443" onclick="addCard($(this),3025443,600122)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    三年级一班有女生19名，男生24名，三年级一班共有学生（ ）名。 </div>
                <!--<div class="clearfix"></div>-->
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025444" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.69</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025444,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025444,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025444)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025444)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025444" onclick="addCard($(this),3025444,600125)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    爸爸今年37岁，爷爷比爸爸大25岁，爷爷今年<br>
                    <div align="right">[ ]</div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="q-answer">
                    <div class="answer">A、52岁</div>
                    <div class="answer">B、61岁</div>
                    <div class="answer">C、62岁</div>
                </div>
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025445" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.07</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025445,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025445,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025445)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025445)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025445" onclick="addCard($(this),3025445,600122)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    在为青海玉树灾区捐款中，弟弟捐了16元，爸爸捐了35元，一共捐了多少元？ </div>
                <!--<div class="clearfix"></div>-->
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025446" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.58</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025446,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025446,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025446)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025446)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025446" onclick="addCard($(this),3025446,600126)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    33与最大的两位数的和是（ ）。 </div>
                <!--<div class="clearfix"></div>-->
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025447" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.79</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025447,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025447,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025447)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025447)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025447" onclick="addCard($(this),3025447,600125)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <div class="ques">
                <div class="q-title">

                    三年级一班有学生46人，三年级二班有学生39人，这两班一共有学生<br>
                    <div align="right">[ ]</div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="q-answer">
                    <div class="answer">A、85人</div>
                    <div class="answer">B、75人</div>
                    <div class="answer">C、86人</div>
                </div>
                <div class="clearfix"></div>
                <div class="q-analysis text-l" id="ana3025448" style="display: none">
                    <p class="answer-detail"></p>
                    <p class="anaylis-detail"></p>
                </div>
                <div class="q-view">
                    <div class="view-left">
                        <span>难度：</span><span>0.94</span>
                        <!--<span> 组卷次数：</span>--><span></span>
                    </div>
                    <div class="view-right">
                        <span class="view-err" onclick="showerr(3025448,14)"><i class="fa fa-exclamation-circle" ></i> 纠错</span>
                        <div class="spire">
                            <span class="view-err" onclick="collquestion(3025448,14)"><i class="fa fa-heart-o" ></i> 收藏</span>
                            <span class="view-err" onclick="show_anaylis($(this),3025448)"><i class="fa fa-list" ></i> <span>查看解析</span></span>
                            <!--<span><i class="fa fa-download" ></i> <a onclick="downloadquestion(3025448)"> 下载</a></span>-->
                            <span class="selecttopic" id="3025448" onclick="addCard($(this),3025448,600122)"><img src="/static/style/img/open.png" />试题篮</span>
                        </div>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
            <!--分页-->
            <div class="pagelist">
                <ul class="pagination">
                    <li class="disabled"><span>&laquo;</span></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=2">2</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=3">3</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=4">4</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=5">5</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=6">6</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=7">7</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=8">8</a></li>
                    <li class="disabled"><span>...</span></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=188">188</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=189">189</a></li>
                    <li><a href="/index/index/questions?cid=14&amp;cno=1&amp;page=2">&raquo;</a></li>
                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

    <!--foot-->
    <footer>
        <div class="subject">
            <div class="footer-info" style="margin-left: 0">
                <div class="info-title">本站特点</div>
                <p> 1. 题库中国作为一个中小学题库专业网站,致力于中小学题库开发</p>
                <p> 2. 主要服务于在校师生及家长</p>
                <p> 3. 提供优质的组卷服务</p>
            </div>
            <div class="footer-info">
                <div class="info-title">商务联系</div>
                <p>手机/微信 : 15036480330</p>
                <p>手机/微信 : 13474117172</p>
                <p>QQ : 416148514</p>
            </div>
            <div class="footer-info">
                <div class="info-title"><a href="http://help.tiku.cn/496958" target="_blank">帮助中心</a></div>
                <p><a href="http://help.tiku.cn/496958" target="_blank">1. 注册与登录</a></p>
                <p><a href="http://help.tiku.cn/497529" target="_blank">2. 如何组卷?</a></p>
                <p><a href="http://help.tiku.cn/497743" target="_blank">3. 更新日志</a></p>
            </div>
            <div class="footer-info">
                <div class="info-title">服务宗旨</div>
                <p>认真的服务好每一个用户</p>
                <p><a class="c-orange" href="http://www.bizhibixue.com">必知必学官网</a></p>
            </div>
            <div class="footer-info">
                <div class="info-title">官方群</div>
                <p>题库中国教师群 : 17522170</p>
                <p>十年高考(物理) : 513519348</p>
            </div>
        </div>
        <p class="websiteinfo">Copyright © 2017 西安必知必学网络科技有限公司 版权所有 未经授权禁止复制或建立镜像 陕ICP备17009510号-1
            <script>
                var _hmt = _hmt || [];
                (function() {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?02f32149c7ea90d0cd47ed89025e457c";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
        </p>
    </footer>
</body>

</html>
<!--公共js-->
<!--<script src="/static/h-ui/js/H-ui.js"></script>-->
<script src="/static/tiku-js/custom.js"></script>
<script src="/static/tiku-js/hlg.js"></script>
<!--<script src="/static/tiku-js/requestAnimationFrame.js"></script>-->
<script src="/static/tiku-js/fly.min.js"></script>
<script src="/static/tiku-js/qlist.js"></script>

<script type="text/javascript">
    $(function() { // 控制左侧列表展开与闭合
    });


    function tourl(id, type) {
        // 按学科
        if (type == 'cno') {
            var oUrl = window.location.href;
            window.location.href = "/index/index/questions?" + 'cid=' + GetQueryString("cid") + '&' + type + '=' + id;
        }
        // 按知识点
        else if (type == 'kno') {
            var oUrl = window.location.href;
            window.location.href = "/index/index/questions?" + 'cid=' + GetQueryString("cid") + '&' + type + '=' + id;
        }
        // 教材版本
        else if (type == 'vid') {
            var oUrl = window.location.href;
            window.location.href = "/index/index/questions?" + 'cid=' + GetQueryString("cid") + '&' + 'cno=' + GetQueryString("cno") + '&' + type + '=' + id;
        }
        // 章
        else if (type == 'unitid') {
            var oUrl = window.location.href;
            oUrl = delQueStr(delQueStr(oUrl, 'thrknowid'), 'chapterid');
            var re = eval('/(' + type + '=)([^&]*)/gi');
            if (oUrl.match(re)) {
                var nUrl = oUrl.replace(re, type + '=' + id);
                this.location = nUrl;
            } else {
                window.location.href = oUrl + '&' + type + '=' + id;
            }
        }
        // 节
        else if (type == 'chapterid') {
            var oUrl = window.location.href;
            oUrl = delQueStr(oUrl, 'thrknowid');
            var re = eval('/(' + type + '=)([^&]*)/gi');
            if (oUrl.match(re)) {
                var nUrl = oUrl.replace(re, type + '=' + id);
                this.location = nUrl;
            } else {
                window.location.href = oUrl + '&' + type + '=' + id;
            }
        } else {
            var oUrl = window.location.href;
            var re = eval('/(' + type + '=)([^&]*)/gi');
            if (oUrl.match(re)) {
                var nUrl = oUrl.replace(re, type + '=' + id);
                this.location = nUrl;
            } else {
                window.location.href = oUrl + '&' + type + '=' + id;
            }
        }
    }

    function downloadquestion(id) {
        $.post("/index/count_questionpoint", {
            id: id
        }, function(data) {
            if (data != '') {
                var choose = confirm("本次下载需要金币" + data + "个，是否确定下载？");
                if (choose == true) {
                    $.post("/papers/charging", {
                        countpoint: data
                    }, function(ret) {
                        if (ret.code == 200) {
                            window.open("/download_question?id=" + id);
                        } else {
                            alert(ret['mes']);
                        }
                    }, 'json');
                }
            } else {
                alert('网络出错！');
            }
        }, 'json');
    }

    function is_login() {
        return true;
    }
</script>